<h1 class="heading">Translations list</h1>
<br>
<hr>
<div id="translations">
<% if @translations.count > 0 %>
  <table>
    <tr>
      <td class="heading">Key</td>
      <td class="heading">Value</td>
    </tr>
    <% @translations.each do |t| %>
      <tr>
        <td><%= t.key %></td>
        <td><%= t.value %></td>
      </tr>
    <% end %>
  </table>
<hr>
<% end %>

<%= form_for(:translation, @translation, :url => project_translations_path) do |f| %>
<table>
  <tr>
    <td><%= f.label :key %></td>
    <td><%= f.text_field :key %></td>
  </tr>
  <tr>
    <td> <%= f.label :value %></td>
    <td> <%= f.text_field :value %></td>
  </tr>
</table>
</div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
