<h1 class="heading"><%= @project.name %></h1>
<hr>
<% if(@project.translations.count == 0) then %>
<%= "No translations added yet" %><br/>
<% else %>

<h3>Translations list</h3>
<div id="translations">
  <table border="1">
    <tr>
      <td class="heading"><b>key</b></td>
      <td class="heading"><b>value</b></td>
    </tr>
    <% @project.translations.each do |t| %>
      <tr>
        <td><%= t.key %></td>
        <td><%= t.value %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
<%= link_to "Manage Translations",project_translations_path(@project) %>
