<!DOCTYPE html>
<html>
  <head>
    <title><%= "Chronuscop" %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="banner">
      <%= render 'layouts/banner' %>
    </div>

    <div class="container">
      <%= render 'layouts/header' %>
      <br/>
      <section>
        <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
